.side-img {
    background: url("../images/library3.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

}

 .signup{
    margin-top: 30px;
   
}

.content{
    height: 600px
}

.title { 
    border: 2px solid black;
    padding: 20px;
}

.all-books {
    margin-top: 30px
}

.book-item {
    padding: 20px
}
