.side-img {
    background: url(../images/library2.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

}

 .signup{
    margin-top: 30px;
   
}

.content{
    height: 600px
}